*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.head{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 10;
    height: 70px;
    line-height: 70px;
    padding: 0 20px;
}
.col-main-nav-left{
    float: left;
    width: 50%;

}
.col-main-nav-right{
    float:left;
    width: 50%;
    text-align: right;
}

.link{
margin-left: 15px;
   font-size: 18px;
   text-decoration: none;
   color: black;
}

.button-structure{
    background-color: rgb(0, 99, 241);
    border: none;
    color: white;
    padding: 10px 25px 10px 25px;
    font-size: 15px;
}
.button-main-nav{
    margin-left: 45px;
}
.hero{
    padding-top: 100px;
    width: 100%;
    background-color: rgb(180, 208, 230);
}
.hero-container{
    width: 1300px;
    margin: auto;
}
.hero-col-left{
    padding-top: 20px;
    font-size: 30px;
    float: left;
    width: 50%;
}
.arrow-down{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.hero-col-right{
    float: right;
    width: 50%;
}
.hero-col-right img{
    width: 100%;
    position: relative;
    bottom: -90px;
}
.hero h1{
    font-size: 70px;
}

.button-hero{
    margin-top: 30px;
    font-size: 20px;
}
.hero span{
    display: block;
    font-size: 18px;
    padding-top: 10px;
}
.product{
    padding-top: 80px;
    margin: auto;
    width: 1080px;
}
.product h2{
    font-size: 50px;
}
.payment p {
    display: inline-block;
    vertical-align: middle;
}
.checked{
    margin-top: 50px;
    display:inline-block;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.not-checked{
    margin-left: 20px;
    width: 20px;
    height: 20px;
}
.col{
    float: left;
    margin: 0 10px;
    width:calc(100% / 3 - 20px);
    margin-top: 30px;
    border: 1px solid gainsboro;
}
.target{
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid gainsboro;
}
.text-align{
    margin-left: 50px;
    margin-top: 25px;
}
.grade{
    font-size: 30px;
}
.price{
    font-size: 18px;
}
.time{
    margin-top: 15px;
    color: gray;
    margin-bottom: 80px;
}
.row-col p{
    width: 350px;
    margin-left: 40px;
    margin-bottom: 20px;
}
.button-col{
    padding: 10px 50px 10px 50px;
    margin-left: 35px;
}
.buy{
    margin-top: 40px;
    padding-bottom: 60px;
}
hr{
  width: 60px;
  color: gainsboro;
  margin-left: 50px;
}
.info{
    font-size: 25px;
}
.list{
    font-size: 20px;
    list-style-type: none;
}
.arrow{
    color: blue;
    font-size: 15px;
}
.col-bottom{
    width: calc(100% / 1- 10px);
    border: 1px solid gainsboro;
}